{% extends "base.html" %}
{% load i18n %}
{% load materializecss %}
{% load bootstrap4 %}


{% block title %}
Nosotros - Centro Estético Armonía y Salud
{% endblock %}

{% block meta_tags %}
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta name="description" content="">


  <meta property="og:url" content="{{ page_url }}">
{% endblock meta_tags %}

{% block breadcrumb %}
  <ul class="breadcrumbs list-unstyled">
    <li>
      <a href="{% url 'home' %}">
        {% trans "Home" context "Main navigation item" %}
      </a>
    </li>
      <li>
        <a href="/nosotros/">Nosotros</a>
      </li>
  </ul>
{% endblock breadcrumb %}

{% block content %}
<h1 class="">Centro Estético Armonía y Salud</h1>


<div class="row pt-3">
  <div class="col-md-12 col-lg-12">
    <p>
      En Centro Estético Armonía y Salud te ofrecemos los mejores tratamientos con aplicaciones de la mano de la profesional y con varios años de experiencia, Cosmiatra Magdalena Mendoza. Tenemos a disposicion tratamientos corporales, faciales, tratamiento de reducción de peso y nutrición. Ademas contamos con la venta de productos dermacosméticos e insumos.
    </p>
    <p>
      Iniciamos nuestra trayectoria un Junio del 2012 en la ciudad de Bahia de Caráquez. A lo largo de de los años nos complace en tener clientes satisfechos y que aun nos visitan por el servicio profesional que se les ha brindado. A todos nuestros clientes y futuros clientes les invitamos a que sean parte de nuestra comunidad, no solo estética, si no de salud corporal.
    </p>
    <p>
      Nuestro nuevo projecto empredimiento de innovacion y creacion de equipos estéticos, cuenta con la asesoria de el Auxiliar de Estética Jefferson Saltos, quien tiene amplios conocimientos y experiencia en mecánica, electrónica y laboratorio clinico.
    </p>
    <p>
      Somos un equipo con idas innovativas que al mismo tiempo asesoramos a personas de nuestro campo profesional para que amplien sus conocimeintos, sean parte de crear nuevas oportunidades y expander. Nuestro servicios de Capacitaciones personalizada te ayudarán a crecer profesionalmente.
    </p>
    <p>
      Te esperamos en nuestro centro personalizado en la ciudad de Quito. Todas nuestros tratamientos son bajo cita previa y completamente personalizados. Si te encuentras en la Provincia de Manabi, contáctanos para agendar una visita en nuestro centro en la Ciudad de Portoviejo.
    </p>
  </div>
</div>



<div class="row">
  <div class="col-md-6 col-lg-4 pt-5">
    <div class="card bg-light">
      <img src="/static/images/magdalena.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Maria Magdalena Mendoza</h5>
        <h6 class="card-subtitle mb-2 text-muted">Senior Developer</h6>
        <p class="card-text">Server Administration, Development, Mobile Application Development, Graphic Design, Visual Effects</p>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4 pt-5">
    <div class="card bg-light">
      <img src="/static/images/lourdes-mendoza.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jefferson Saltos</h5>
        <h6 class="card-subtitle mb-2 text-muted">Sales/Support</h6>
        <p class="card-text">Technical Support, Sales Support, Social Media Marketing, Photography, Logo Design</p>
      </div>
    </div>
  </div>
</div>



{% endblock %}