{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="home">
    <div class="row">
      <div class="col-sm-12 home__block1">
        <div class="home--square">
          <div class="home--content" style="background-color: rgba(0, 0, 0, 0.30);">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "Tratamientos" context "Homepage title" %}</h1>
                <h2>{% trans "Faciales y Corporales" context "Homepage title" %}</h2>
                  <a class="btn btn-secondary home__button" href="/products/category/tratamientos-2/">
                    {% trans "Shop now" context "Homepage action" %}
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 home__block2">
        <div class="home--square">
          <div class="home--content" style="background-color: rgba(0, 0, 0, 0.30);">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "Productos" context "Homepage title" %}</h1>
                <h2>{% trans "Dermacosméticos e Insumos" context "Homepage title" %}</h2>
                <a class="btn btn-secondary home__button" href="/products/category/productos-1/">{% trans "Shop now" context "Homepage action" %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 home__block3">
        <div class="home--square">
          <div class="home--content" style="background-color: rgba(0, 0, 0, 0.30);">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "Capacitaciones" context "Homepage title" %}</h1>
                <h2>{% trans "Personalizadas y Prácticas" context "Homepage title" %}</h2>
                <a class="btn btn-secondary home__button" href="/products/category/capacitaciones-3/">{% trans "Shop now" context "Homepage action" %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if products %}
      <div class="home__featured">
        <h2 class="text-center">{% trans "Featured products" context "Homepage title" %}</h2>
        <div class="row">
          {% include "product/_items.html" %}
        </div>
      </div>
    {% endif %}
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
{% endblock %}
